@if(TempData["success"]!=null)
{
    <div class="alert alert-success alert-notification">
        @TempData["success"]
    </div>
}@if(TempData["error"]!=null)
{
    <div class="alert alert-danger alert-notification">
        @TempData["error"]
    </div>
}
